.bottom-area {
    
    position: relative;
    z-index: 100;
    width: 42%;
    

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
}


.bottom-area2 {
    
    position: relative;
    // z-index: 100;
    // flex:2;
    // display:flex;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
}

.copyright {
    color: var(--orange);
    text-decoration: none;
}